src/main/resources/schemas/IATA_ServiceStatusChangeNotifRQ.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://www.iata.org/IATA/2015/00/2020.2/IATA_ServiceStatusChangeNotifRQ"  xmlns:k="http://www.iata.org/IATA/2015/00/2020.2/IATA_ServiceStatusChangeNotifRQ" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2020.2/IATA_ServiceStatusChangeNotifRQ" version="2.002" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IATA_ServiceStatusChangeNotifRQ">
    <xs:annotation>
      <xs:documentation>The Airline/Delivery Provider notifies a change of Service status code to applicable stakeholder e.g. POA to ORA, Airline OM to Accounting, Delivery Provider to ORA.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AugmentationPoint" type="AugmentationPoint" />
        <xs:element minOccurs="1" maxOccurs="1" name="Party" type="PartyType">
          <xs:annotation>
            <xs:documentation>Message/ Transaction Party(s) information. Note that information about parties is intended for business use, it is not intended for transaction authentication and routing of the message.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PayloadAttributes" type="IATA_PayloadStandardAttributesType">
          <xs:annotation>
            <xs:documentation>IATA standard payload attributes.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="Request" type="RequestType">
          <xs:annotation>
            <xs:documentation>ServiceStatusChangeNotifRQ request information.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddlNameType">
    <xs:annotation>
      <xs:documentation>This is used for additional name types.
 The structure consists of a generic proper name with associated type.
 Examples:
 Name - 'Smith'.
 Name Type Code - 'Fathers Surname'.
 Name - 'Park'.
 Name Type Code - 'Mothers Surname'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>A proper name defined by the associated name type code and further clarified by the description text.
 Name - 'Smith'.
 Name Type Code - 'Father Surname'.
 Name - 'Park'.
 Name Type Code - 'Mother Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NameTypeCode" type="AddlNameTypeCodeType">
        <xs:annotation>
          <xs:documentation>The type of proper name
 Examples:
 'Father Surname'.
 'Mother Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AddlNameTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>This will include a codelist with defined types of additional names. {codeListAgencyName}IATA AIDM{/codeListAgencyName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Father Surname">
        <xs:annotation>
          <xs:documentation>This is the individuals fathers name surname which is part of the individuals full surname.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mother Surname">
        <xs:annotation>
          <xs:documentation>This is the individuals mothers name surname which is part of the individuals full surname.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddlNameTypeCodeType">
    <xs:annotation>
      <xs:documentation>This will define allowable additional name types.
 'Father Surname'
 'Mother Surname'</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AddlNameTypeCodeContentType" />
  </xs:simpleType>
  <xs:complexType name="AggregatorType">
    <xs:annotation>
      <xs:documentation>An entity who distributes a Seller's shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AggregatorID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Identifier of the aggregator organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>Aggregator Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AirlineDesigCodeContentType">
    <xs:annotation>
      <xs:documentation>The codelist contents of IATA Resolution 762 airline codes, or of ICAO airline codes. {codeListAgencyName}IATA or ICAO{/codeListAgencyName} {codeListName}Resolution 762 Airline Codes or ICAO Airline Codes{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="([A-Z]{3}|[A-Z]{2})|([0-9][A-Z])|([A-Z][0-9])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AirlineDesigCodeType">
    <xs:annotation>
      <xs:documentation>Either the IATA-defined 2-character code or the ICAO-defined 3-character code of an airline, as per the length of the value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AirlineDesigCodeContentType" />
  </xs:simpleType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>An amount is a number of monetary units specified in a currency.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="CurCode" type="xs:token" use="optional">
          <xs:annotation>
            <xs:documentation>Currency Code as per ISO 4217 alphabetic code e.g. EUR, USD, AUD</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AugmentationPoint">
    <xs:annotation>
      <xs:documentation>Implementer-Augmented Structure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarrierType">
    <xs:annotation>
      <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AirlineDesigCode" type="AirlineDesigCodeType">
        <xs:annotation>
          <xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DuplicateDesigInd" type="IndType">
        <xs:annotation>
          <xs:documentation>Indicates that the IATA Airline Designator is a duplicate code shared by multiple airlines. To identify the airline - in this case - its name must be specified in addition to the designator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="NameType">
        <xs:annotation>
          <xs:documentation>Commercial name of the carrier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CodeType">
    <xs:annotation>
      <xs:documentation>A code is a character string of letters, numbers, special characters (except escape sequences), and symbols.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token" />
  </xs:simpleType>
  <xs:complexType name="ContactInfoType">
    <xs:annotation>
      <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ContactInfoID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely Identifies a set of Contact Information, within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="ContactPurposeText" type="TextType">
        <xs:annotation>
          <xs:documentation>to identify the contact purpose (PADIS code list 3299)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ContactRefusedInd" type="IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, Contact Information was refused to be provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAddress" type="EmailAddressType">
        <xs:annotation>
          <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Individual" type="IndividualType">
        <xs:annotation>
          <xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IndividualRefID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Reference to Individual instance(s)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherAddress" type="OtherAddressType">
        <xs:annotation>
          <xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PaxSegmentRefID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely identifies a Passenger Segment within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phone" type="PhoneType">
        <xs:annotation>
          <xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostalAddress" type="PostalAddressType">
        <xs:annotation>
          <xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RelationshipToPax" type="TextType">
        <xs:annotation>
          <xs:documentation>Relationship to the passenger e.g. used for when this individual is an emergency contact</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorporationType">
    <xs:annotation>
      <xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CorporateCodeText" type="TextType">
        <xs:annotation>
          <xs:documentation>Corporate code assigned to a corporate buyer used for accessing special fares.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CorporateID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Unique identifier of this corporation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IATA_Number" type="NumberType">
        <xs:annotation>
          <xs:documentation>IATA issued identification number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="NameType">
        <xs:annotation>
          <xs:documentation>Corporation name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCodeContentType">
    <xs:annotation>
      <xs:documentation>The code list of ISO 3166 two-alpha Country Codes {codeListAgencyName}ISO{/codeListAgencyName} {codeListName}3166 two-alpha Country Codes{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCodeType">
    <xs:annotation>
      <xs:documentation>ISO Country Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CountryCodeContentType" />
  </xs:simpleType>
  <xs:simpleType name="CountryDialingCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the Country Dialing Code BDT. {codeListAgencyName}ITU{/codeListAgencyName} {enumerationURI}ITU-T in standards E.123 and E.164{/enumerationURI}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token" />
  </xs:simpleType>
  <xs:simpleType name="CountryDialingCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CountryDialingCodeContentType" />
  </xs:simpleType>
  <xs:simpleType name="DateTimeType">
    <xs:annotation>
      <xs:documentation>A date time identifies a date and time of day to various common resolutions: year, month, week, day, hour, minute, second, and fraction of second.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>A date is a Gregorian calendar representation in various common resolutions: year, month, week, day.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:complexType name="DeliveryProviderType">
    <xs:annotation>
      <xs:documentation>The entity responsible for delivery of a good or Service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>is the uniqu
 e identifier for a delivery provider. 
 is agreed identifier with the airline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="NameType">
        <xs:annotation>
          <xs:documentation>is the name identifier for a delivery provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailAddressType">
    <xs:annotation>
      <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ContactTypeText" type="TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EmailAddressText" type="TextType">
        <xs:annotation>
          <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnabledSystemType">
    <xs:annotation>
      <xs:documentation>NDC-enabled system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>Name of the enabled system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SystemID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Identifier of the enabled system.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GenderCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for Gender Code. {codeListAgencyName}ICAO{/codeListAgencyName} {codeListName}Document 9303 Sex of the holder{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Female</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Male</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Unspecified</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GenderCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify Gender code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="GenderCodeContentType" />
  </xs:simpleType>
  <xs:complexType name="IATA_PayloadStandardAttributesType">
    <xs:annotation>
      <xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AltLangID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CorrelationID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PrimaryLangID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RetransmissionInd" type="IndType">
        <xs:annotation>
          <xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Timestamp" type="DateTimeType">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TrxID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="VersionNumber" type="NumberType">
        <xs:annotation>
          <xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_Type">
    <xs:annotation>
      <xs:documentation>An identifier is a character string used to uniquely identify one instance of an object within an identification scheme that is managed by an agency.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token" />
  </xs:simpleType>
  <xs:complexType name="IndividualType">
    <xs:annotation>
      <xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddlName" type="AddlNameType">
        <xs:annotation>
          <xs:documentation>This is used for additional name types.
 The structure consists of a generic proper name with associated type.
 Examples:
 Name - 'Smith'.
 Name Type Code - 'Fathers Surname'.
 Name - 'Park'.
 Name Type Code - 'Mothers Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Birthdate" type="DateType">
        <xs:annotation>
          <xs:documentation>The date on which an individual was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BirthplaceText" type="TextType">
        <xs:annotation>
          <xs:documentation>Country Code where the Passenger was born (ISO 3166). For example: DE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="GenderCode" type="GenderCodeType">
        <xs:annotation>
          <xs:documentation>Gender of the individual. Refer to PADIS Codeset 6353.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="5" name="GivenName" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>A personal name given to the individual at birth and used before a family name. Also called first name. E.g. JOHN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IndividualID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely Identifies an Individual within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="MiddleName" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>Individual's middle name or initial. E.g. G, GEORGE.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SuffixName" type="SupplementNameType">
        <xs:annotation>
          <xs:documentation> Individual's name suffixes and letters. Examples: Jr., Sr., III, Ret., Esq.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Surname" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>Individual's hereditary name(s) common to all members of a family. Also known as family name or last name. E.g. SMITH. Excludes any potential suffix.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TitleName" type="SupplementNameType">
        <xs:annotation>
          <xs:documentation>A word such as Mr., Mrs., Miss or Dr that is used before an individual's name to indicate the gender, profession or marital status.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IndType">
    <xs:annotation>
      <xs:documentation>An indicator is a list of two mutually exclusive Boolean values that express the only possible states of a property.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:simpleType name="NameType">
    <xs:annotation>
      <xs:documentation>A name is a word or phrase that constitutes the distinctive designation of a person, place, thing or concept</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token" />
  </xs:simpleType>
  <xs:simpleType name="NumberType">
    <xs:annotation>
      <xs:documentation>A mathematical number that is assigned or is determined by calculation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:complexType name="OrderItemType">
    <xs:annotation>
      <xs:documentation>An individually priced item within an Order, made up of one or more Services. May or may not be a selected Offer Item (e.g. non-chargeable Services available on request such as a wheelchair).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GrandTotalAmount" type="AmountType">
        <xs:annotation>
          <xs:documentation>Reflects the Differential Total Amount and the Penalty Total Amount, if netted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="OrderItemID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Carrier assigned ID which exists uniquely within an Order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OrderItemTypeCode" type="CodeType">
        <xs:annotation>
          <xs:documentation>Specify the type of Order Item being presented to the Customer. 
 Using new 
 PADIS codeset -initial content
 -RET - Retail
 -WHO - Wholesale
 -COR - Corporate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ReusableInd" type="IndType">
        <xs:annotation>
          <xs:documentation>If Reusable = true, indicates that part of the value of the OrderItem may be reused for reshopping or refund. Exact reusable amount is unknown until Seller requests to reshop or to process a refund for this OrderItem.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Service" type="ServiceType">
        <xs:annotation>
          <xs:documentation>The instance of a specific flight or Service Definition as it has been offered (and eventually ordered and consumed) in the context of a specific Offer and/or Order.
 At the time of shopping, a service can be sold to multiple passengers on a given journey. 
 At time of order, the services should be applied to a single passenger on a single segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderType">
    <xs:annotation>
      <xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services). 
 Comment:
 A 'PNR', 'super PNR' and 'ticket' are all today's versions of airline implementations of aspects of an Order. 
 An Order may support non-homogeneity, i.e. each passenger in an Order may hold different sets of order items at different prices.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OrderID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Carrier assigned ID which uniquely identifies a specific Order across several messages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="OrderItem" type="OrderItemType">
        <xs:annotation>
          <xs:documentation>An individually priced item within an Order, made up of one or more Services. May or may not be a selected Offer Item (e.g. non-chargeable Services available on request such as a wheelchair).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OrderVersionNumber" type="OrderVersionNumberType">
        <xs:annotation>
          <xs:documentation>Version of the Order used to track the evolution of an Order and the changes made to it.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrderVersionNumberType">
    <xs:annotation>
      <xs:documentation>Order version number BDT.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:complexType name="OtherAddressType">
    <xs:annotation>
      <xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ContactTypeText" type="TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="OtherAddressText" type="TextType">
        <xs:annotation>
          <xs:documentation>Other Contact Method Value. Example: www.marketingsite.com</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParticipantType">
    <xs:annotation>
      <xs:documentation>Information related to parties relevant to the contents of this message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Aggregator" type="AggregatorType">
        <xs:annotation>
          <xs:documentation>An entity who distributes a Seller's shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Corporation" type="CorporationType">
        <xs:annotation>
          <xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EnabledSystem" type="EnabledSystemType">
        <xs:annotation>
          <xs:documentation>NDC-enabled system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MarketingCarrier" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OperatingCarrier" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ORA" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POA" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RetailPartner" type="RetailPartnerType">
        <xs:annotation>
          <xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TravelAgency" type="TravelAgencyType">
        <xs:annotation>
          <xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:annotation>
      <xs:documentation>Message/ Transaction Party(s) information. Note that information about parties is intended for business use, it is not intended for transaction authentication and routing of the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participant" type="ParticipantType">
        <xs:annotation>
          <xs:documentation>Information related to parties relevant to the contents of this message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Recipient" type="RecipientType">
        <xs:annotation>
          <xs:documentation>Recipient Information related to the party receiving this message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Sender" type="SenderType">
        <xs:annotation>
          <xs:documentation>Information related to the party sending this message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneType">
    <xs:annotation>
      <xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AreaCodeNumber" type="TextType">
        <xs:annotation>
          <xs:documentation>Phone number area code. Example: 813
 Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ContactTypeText" type="TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryDialingCode" type="CountryDialingCodeType">
        <xs:annotation>
          <xs:documentation>Numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU). Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtensionNumber" type="TextType">
        <xs:annotation>
          <xs:documentation>Phone extension number. Example: 1234
 Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="TextType">
        <xs:annotation>
          <xs:documentation>Phone number text.
 Examples:
 +1 999-999-9999 ext 1234, 
 617-9976
 Note: This may be a simple, un-structured phone number, such as +01 999-999-9999 ext 1234 or combined with additional attributes country dialing code, area code and extension to create a structured phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddressType">
    <xs:annotation>
      <xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildingRoomText" type="TextType">
        <xs:annotation>
          <xs:documentation>Additional address information including building name, room, apartment, or suite number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CityName" type="NameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the city, town or village.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ContactTypeText" type="TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="CountryCodeType">
        <xs:annotation>
          <xs:documentation>ISO Country Code (can be extended by bilateral agreement in case of exceptions, e.g. Kosovo). Examples: US, FR.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryName" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CountrySubDivisionName" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the sub-division of a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PO_BoxCode" type="CodeType">
        <xs:annotation>
          <xs:documentation>Post office box. Example: P.O. Box 21</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PostalCode" type="CodeType">
        <xs:annotation>
          <xs:documentation>Postal code. Examples: 11001, 11001-2345</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="2" name="StreetText" type="TextType">
        <xs:annotation>
          <xs:documentation>Street name and number. Examples: Main Street, 100 Main Street</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProperNameType">
    <xs:annotation>
      <xs:documentation>BDT with value constraints for proper, regular names (e.g. Individual Surname, Individual First Name, Company Name, etc.).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RecipientType">
    <xs:annotation>
      <xs:documentation>Recipient Information related to the party receiving this message.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="Aggregator" type="AggregatorType">
        <xs:annotation>
          <xs:documentation>An entity who distributes a Seller's shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Corporation" type="CorporationType">
        <xs:annotation>
          <xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EnabledSystem" type="EnabledSystemType">
        <xs:annotation>
          <xs:documentation>NDC-enabled system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MarketingCarrier" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="OperatingCarrier" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ORA" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="POA" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RetailPartner" type="RetailPartnerType">
        <xs:annotation>
          <xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TravelAgency" type="TravelAgencyType">
        <xs:annotation>
          <xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType">
    <xs:annotation>
      <xs:documentation>Request content for message</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Order" type="OrderType">
        <xs:annotation>
          <xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services). 
 Comment:
 A 'PNR', 'super PNR' and 'ticket' are all today's versions of airline implementations of aspects of an Order. 
 An Order may support non-homogeneity, i.e. each passenger in an Order may hold different sets of order items at different prices.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetailPartnerType">
    <xs:annotation>
      <xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="NameType">
        <xs:annotation>
          <xs:documentation>Retail partner name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RetailPartnerID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Unique Retailer ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SenderType">
    <xs:annotation>
      <xs:documentation>Information related to the party sending this message</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="Aggregator" type="AggregatorType">
        <xs:annotation>
          <xs:documentation>An entity who distributes a Seller's shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Corporation" type="CorporationType">
        <xs:annotation>
          <xs:documentation>A company or group of people authorized to act as a single entity (legally a person) and recognized as such in law.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EnabledSystem" type="EnabledSystemType">
        <xs:annotation>
          <xs:documentation>NDC-enabled system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MarketingCarrier" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="OperatingCarrier" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ORA" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="POA" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RetailPartner" type="RetailPartnerType">
        <xs:annotation>
          <xs:documentation>A company that partners with a manufacturer or producer to market and sell the manufacturer's products, services, or technologies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TravelAgency" type="TravelAgencyType">
        <xs:annotation>
          <xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ServiceBookingStatusCodeContentType">
    <xs:annotation>
      <xs:documentation>shows the possible statuses of a service Booking item. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="CONFIRMED">
        <xs:annotation>
          <xs:documentation>Inventory owner confirms he is able to provide the Service.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REQUESTED">
        <xs:annotation>
          <xs:documentation>OM requests the Service from the Inventory owner.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ServiceBookingStatusCodeType">
    <xs:annotation>
      <xs:documentation>Represents the current status of a service booking item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ServiceBookingStatusCodeContentType" />
  </xs:simpleType>
  <xs:simpleType name="ServiceDeliveryStatusCodeContentType">
    <xs:annotation>
      <xs:documentation>Shows the possible statuses of a service delivery item. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="CONFIRMED">
        <xs:annotation>
          <xs:documentation>Inventory owner confirms he is able to provide the Service.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DELIVERED">
        <xs:annotation>
          <xs:documentation>Service has been successfully delivered.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EXPIRED">
        <xs:annotation>
          <xs:documentation>Service is no longer available for delivery.
 Service purchased with an associated time limit for consumption and Service was never claimed.
 Service having been at least Confirmed is no longer available as the Customer did not claim the Service within a specific time period, as dictated by the Airline.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAILED TO DELIVER">
        <xs:annotation>
          <xs:documentation>Service could not be delivered due to Airline's or provider limitations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IN PROGRESS">
        <xs:annotation>
          <xs:documentation>The Delivery Provider is in the process of delivering the Service.
 There is a universal concept that the 'In progress' status may block any further financial transactions; e.g. refund.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOT CLAIMED">
        <xs:annotation>
          <xs:documentation>The Service has not been claimed by the Passenger for reasons as a result of Passenger action or inaction. e.g. Passenger no-show, etc.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="READY TO DELIVER">
        <xs:annotation>
          <xs:documentation>Provider is in a position to start delivery of the Service.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="READY TO PROCEED">
        <xs:annotation>
          <xs:documentation>OM is in a position to allow a Delivery Provider to prepare the Service.
 Customer is entitled to receive the Service. This is typically a trigger for ORA to begin accounting process.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REMOVED">
        <xs:annotation>
          <xs:documentation>Service was deleted.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REQUESTED">
        <xs:annotation>
          <xs:documentation>OM requests the Service from the Inventory owner.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SUSPENDED">
        <xs:annotation>
          <xs:documentation>Delivery of the Service is suspended as a result of an Airline decision. 
 Can only revert back to the previous status.
 Exception is that Suspended may go to Removed. 
 This status may be used in case of fraud detection.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UNABLE TO DELIVER">
        <xs:annotation>
          <xs:documentation>It is not possible for the Delivery Provider to deliver a Service. This could be for reasons of availability, legal or regulatory constraint.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ServiceDeliveryStatusCodeType">
    <xs:annotation>
      <xs:documentation>Represents the current status of a service delivery item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ServiceDeliveryStatusCodeContentType" />
  </xs:simpleType>
  <xs:complexType name="ServiceType">
    <xs:annotation>
      <xs:documentation>The instance of a specific flight or Service Definition as it has been offered (and eventually ordered and consumed) in the context of a specific Offer and/or Order.
 At the time of shopping, a service can be sold to multiple passengers on a given journey. 
 At time of order, the services should be applied to a single passenger on a single segment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BookingStatusCode" type="ServiceBookingStatusCodeType">
        <xs:annotation>
          <xs:documentation>Indicates the current status of a Service booking.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryMilestoneCode" type="CodeType">
        <xs:annotation>
          <xs:documentation>Records an event in the lifecycle of a service delivery that may or may not occur independently of a change of service status, e.g. passenger boarded, passenger accepted airside, bag loaded or offloaded.
 Exploratory functionality</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DeliveryProvider" type="DeliveryProviderType">
        <xs:annotation>
          <xs:documentation>The entity responsible for delivery of a good or Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryStatusCode" type="ServiceDeliveryStatusCodeType">
        <xs:annotation>
          <xs:documentation>Indicates the current status of a Service delivery</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryStatusDescText" type="TextType">
        <xs:annotation>
          <xs:documentation>To allow passing information in addition to Service Delivery Status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExpirationDateTime" type="DateTimeType">
        <xs:annotation>
          <xs:documentation>Used to recognize the expiration of a service delivery
 e.g. lounge pass expiry date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="InventoryGuaranteeDateTime" type="DateTimeType">
        <xs:annotation>
          <xs:documentation>The length of time inventory against a given Service is guaranteed. If inventory is not guaranteed, the Order creation (or change) may fail. In the absence of a time limit, no inventory is guaranteed. 
 
 Notes: 
 The presence of an inventory guarantee does not assume a guarantee of price. For the price to be guaranteed against a given Offer Item, the Price Guarantee Time Limit must also be present.
 
 The assumption is that inventory is held when an Order is created (or changed), so this time limit only applies in the context of an Offer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ResponsibleAirline" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely Identifies a Service within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UnchangedInd" type="IndType">
        <xs:annotation>
          <xs:documentation>Indicated that this service is unchanged after reshopping.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidatingCarrier" type="CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields :
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SupplementNameType">
    <xs:annotation>
      <xs:documentation>BDT with value constraints for short supplements to proper names, such as Title, Suffix, etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TextType">
    <xs:annotation>
      <xs:documentation>Text is a character string such as a finite set of characters generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="TravelAgencyType">
    <xs:annotation>
      <xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AgencyID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Unique Agency Seller ID. Example: CTRV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IATA_Number" type="NumberType">
        <xs:annotation>
          <xs:documentation>IATA-assigned agency number. Example: 98417900</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="ProperNameType">
        <xs:annotation>
          <xs:documentation>Agency name. Example: Carson Travel</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PseudoCityID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>An identifier for a corporate user of a computer reservation system (CRS) or global distribution system (GDS), typically a travel agency. Also known as Office ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TravelAgent" type="TravelAgentType">
        <xs:annotation>
          <xs:documentation>A private retailer or public service individual that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TypeCode" type="TravelAgencyTypeCodeType">
        <xs:annotation>
          <xs:documentation>Agency type code. Examples TravelAgency, OnlineTravelAgency, or TravelManagementCompany.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TravelAgencyTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>Agency/ Agent Identification Type. {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Identification type{/codeListName} {codeListIdentifier}9893{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="OnlineTravelAgency">
        <xs:annotation>
          <xs:documentation>A Travel Agency operating Online</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TravelAgency">
        <xs:annotation>
          <xs:documentation>A Travel Agency</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TravelManagementCompany">
        <xs:annotation>
          <xs:documentation>A Travel Management Company</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TravelAgencyTypeCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify travel agency type codes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TravelAgencyTypeCodeContentType" />
  </xs:simpleType>
  <xs:complexType name="TravelAgentType">
    <xs:annotation>
      <xs:documentation>A private retailer or public service individual that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TravelAgentID" type="ID_Type">
        <xs:annotation>
          <xs:documentation>Booking and Servicing Agent information.
 ID. Example: 98417900.
 Note: The ID correlates to the specified ID Type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TypeCode" type="TravelAgencyTypeCodeType">
        <xs:annotation>
          <xs:documentation>Agency/ Agent Identification Type. Example: 706 (IATA agency numeric code)
 Encoding Scheme: IATA Padis Codeset - List for data element 9893 (Identification Type, coded)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>